:root {
  --vermelho: #e50914;
  --preta: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*elementos base*/
body {
  background: var(--preta);
  font-family: "Times New Roman", Times, serif;
  color: white;
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  margin-left: 5px;
  color: var(--vermelho);
  font-family: "Arial Black", Times;
  font-size: 40px;
}

header nav a {
  color: #aaa;
  text-decoration: none;
  font-size: 14px;
}

header nav a:hover {
  color: #fff;
}

/*filme principal*/
.filme-principal {
  font-size: 18px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url("/img/capa.jpg");

  height: 400px;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.filme-principal .descricao {
  margin-bottom: 40px;
}

.titulo {
  font-size: 40px;
}
